<div>
    <div class="mt-5 container">
        <div class="card">
            <div class="card-header">
                <h2>CRUD Ops By Praveen Kumar</h2>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <th>Avatar</th>
                        <th>Name</th>
                        <th>EmailID</th>
                        <th>EmpID</th>
                        <th>Contact Number</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="../../../assets/images/avatar.jpg" class="avt" width="200px"></td>
                            <td><h2>S P Praveen Kumar</h2></td>
                            <td><h2>Praveen.Kumar6@Chubb.com</h2></td>
                            <td><h2>I240</h2></td>
                            <td><h2>9611352320</h2></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>